@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
    
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.list {
    color: black;
}

.title {
    background-color:#B8DBFF;
    border: 2px dotted black;
    border-radius: 20px;
}

.button {
    padding: 10px;
    font-family: futura, sans-serif;
    text-transform: uppercase;
    border: 2px dotted black;
    border-radius: 20px;
    background-color: #B8DBFF;
}

.list-area {
    background-color: #E3F1FF;
    padding: 15px;
    border: 2px solid #E3F1FF;
    border-radius: 20px;
}